*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
.btn-praimary{
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;

}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner-style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
    line-height: 1.5rem;
}

